*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
.page1{
    height: 100%;
    width: 100%;
    background: white;
    position: relative;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}
.nav >.part2{
    display: flex;
    justify-content: center;
    gap:4vw;
    align-items: center;
}
.nav h4{
    font-size: 20px;
    font-weight: 500;
}
.nav h1{
    font-size: 50px;
}
.nav button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
}
.section2 {
    height: 50Vh;
    width: 100%;
    display: flex;
    gap: 15vw;
    justify-content: space-between;
    padding: 30px 40px;
}
.section2 h3{
    font-size: 50px;
    word-spacing: 5px;
    line-height: 45px;
    font-weight: 500;
}
.section2 p{
    padding-top: 25px;
    font-size: 20px;
    line-height: 25px;
}
.section2 button{
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(8, 8, 8);
    color: white;
    padding:8px 14px;
}
.section2 img{
    height: 50vh;
    width: 40vw;
    object-fit: cover;
    object-position: top;
 }
.section2 .part1{
    height: 55vh;
    width: 40vw;
    line-height: 100px;

}
.section3{
    height: 10vh;
    width: 100%;
    padding: 10% 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.section3 img{
    height: 10vh;
    width: 30vh;
    object-fit: cover;
    
}
.section4{
    height: 20vh;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 30px 40px;
}
.section4 h3{
    background-color: greenyellow;
    font-size: 40px;
    font-weight: 400;
}
.section4 p{
    font-size: 20px;
}
.section5{
    height: 80%;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    flex-wrap: wrap;
}
.container{
    height: 250px;
    flex-shrink: 0;
    width: 45%;
    border-radius: 30px;
    /* background-color: green; */
    border: 1px solid black;
    box-shadow: 0px 10px 0px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 20px ;
    /* gap: px; */
}
.container .part1 h3{
    font-size: 25px;
    background-color: greenyellow;
}
.container .part1 p{
    font-family: 20px;
    padding-top: 100px;
    
}
.container .part1 i{
    background-color: black;
    color: white;
    padding-left: 4px;
    font-family: 30px;
    margin-right: 10px;
    border-radius: 50%;
    
}
.container .part2 img{
    height: 200px;
    width: 250px;
    object-fit: cover;
}
.c1{
    background-color: black;
}
.c1 p{
    color: white;
}
.c1 .part1 i{
    background-color: white;
    color: black;
}
.c1 .part1 h3{
    background-color: white;
    color: black;
}